/* Centers container, sets a maximum width and makes sure elements can flow past it*/

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}

/* Grid container */

.grid-container {
  display: grid;
  grid-template-areas:
    'general general general general'
    'heading1 heading2 heading3 heading4'
    'upperCase lowerCase sounds firstNine'
    'upperCase lowerCase sounds secondNine'
    'upperCase lowerCase sounds thirdNine'
    'upperCase lowerCase sounds fourthNine';
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1.5fr 1fr 4fr 4fr 4fr 4fr;
}

/* Grid items */

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.general {
  grid-area: general;
  color: cornsilk;
  background-color: blue;
}
.heading1 {
  grid-area: heading1;
  background-color: rgb(175, 175, 175);
}
.heading2 {
  grid-area: heading2;
  background-color: rgb(175, 175, 175);
}
.heading3 {
  grid-area: heading3;
  background-color: rgb(175, 175, 175);
}
.heading4 {
  grid-area: heading4;
  background-color: rgb(175, 175, 175);
}
.upperCase {
  grid-area: upperCase;
}
.lowerCase {
  grid-area: lowerCase;
}
.sounds {
  grid-area: sounds;
}
.firstNine {
  grid-area: firstNine;
}
.secondNine {
  grid-area: secondNine;
}
.thirdNine {
  grid-area: thirdNine;
}
.fourthNine {
  grid-area: fourthNine;
}