:root {
  max-width: 1000px;;
}

/* Centers container, sets a maximum width and makes sure elements can flow past it*/

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}

/* GRID */

.grid-container {
  border: 2px solid black;
  display: grid;
  grid-template-areas:
    'general general general general'
    'heading1 heading2 heading3 heading4'
    'upperCase lowerCase sounds firstNine'
    'upperCase lowerCase sounds secondNine'
    'upperCase lowerCase sounds thirdNine'
    'upperCase lowerCase sounds fourthNine';
  grid-template-columns: 1fr 1fr 1fr 4fr;
  grid-template-rows: auto auto auto auto auto auto;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.general {
  grid-area: general;
  color: cornsilk;
  background-color: blue;
}
.heading1 {
  grid-area: heading1;
  background-color: rgb(175, 175, 175);
}
.heading2 {
  grid-area: heading2;
  background-color: rgb(175, 175, 175);
}
.heading3 {
  grid-area: heading3;
  background-color: rgb(175, 175, 175);
}
.heading4 {
  grid-area: heading4;
  background-color: rgb(175, 175, 175);
}
.upperCase {
  grid-area: upperCase;
}
.lowerCase {
  grid-area: lowerCase;
}
.sounds {
  grid-area: sounds;
}
.firstNine {
  grid-area: firstNine;
}
.secondNine {
  grid-area: secondNine;
}
.thirdNine {
  grid-area: thirdNine;
}
.fourthNine {
  grid-area: fourthNine;
}

/* Top informational section */

.grid-form {
  display: grid;
  grid-template-areas: 
  '. teacher-label teacher-input .'
  '. class-label class-input .'
  '. date-label date-input .'
  '. student-label student-input .';
  grid-template-columns:1fr 1fr 1.5fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.grid-teacher-label {
  grid-area: teacher-label;
  justify-self: end; /* horizontal */
  padding-right: 10px;
  align-self: center; /*vertical */
}

.grid-teacher-input {
  grid-area: teacher-input;
  justify-self: start; /* horizontal */
  width: 65%;
  align-self: center; /*vertical */
}

.grid-class-label {
  grid-area: class-label;
  justify-self: end; /* horizontal */
  padding-right: 10px;
  align-self: center; /*vertical */  
}

.grid-class-input {
  grid-area: class-input;
  justify-self: start; /* horizontal */
  width: 65%;
  align-self: center; /*vertical */
}

.grid-date-label {
  grid-area: date-label;
  justify-self: end; /* horizontal */
  padding-right: 10px;
  align-self: center; /*vertical */
}

.grid-date-input {
  grid-area: date-input;
  justify-self: start; /* horizontal */
  width: 65%;
  align-self: center; /*vertical */
}

.grid-student-label {
  grid-area: student-label;
  justify-self: end; /* horizontal */
  padding-right: 10px;
  align-self: center; /*vertical */ 
}

.grid-student-input {
  grid-area: student-input;
  justify-self: start; /* horizontal */
  width: 65%;
  align-self: center; /*vertical */ 
}

/* ---------------------------------- */

.line {
  border-bottom: thin solid black;
}

form input {
  margin: 10px 5px 10px 5px;
}

form.grid-form label {
  font-size: 16px;
  font-weight: 100;
}

form.grid-form1 label{
  margin-left: 5px;
}

form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mrg-left-50 {
  margin-left: 50px;;
}

.mrg-left-25 {
  margin-left: 25px;;
}

.brd-left {
  border-left: 1px solid black;
}

.brd-right {
  border-right: 1px solid black;
}

/* SIGHT WORDS - 1ST NINE WEEKS */

.grid-form1 {
  display: grid;
  grid-template-areas: 
  'a1 a2 a3 a4'
  'a5 a6 a7 a8'
  'a9 a10 a11 a12'
  'a13 a14 a15 a16'
  'a17 a18 . .';
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}
.sw191-input {
  grid-area: a1;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /* vertical */
}
.sw191-label {
  grid-area: a1;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw192-input {
  grid-area: a2;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw192-label {
  grid-area: a2;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw193-input {
  grid-area: a3;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw193-label {
  grid-area: a3;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw194-input {
  grid-area: a4;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw194-label {
  grid-area: a4;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw195-input {
  grid-area: a5;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw195-label {
  grid-area: a5;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw196-input {
  grid-area: a6;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw196-label {
  grid-area: a6;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw197-input {
  grid-area: a7;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw197-label {
  grid-area: a7;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw198-input {
  grid-area: a8;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw198-label {
  grid-area: a8;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw199-input {
  grid-area: a9;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw199-label {
  grid-area: a9;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1910-input {
  grid-area: a10;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1910-label {
  grid-area: a10;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1911-input {
  grid-area: a11;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1911-label {
  grid-area: a11;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1912-input {
  grid-area: a12;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1912-label {
  grid-area: a12;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1913-input {
  grid-area: a13;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1913-label {
  grid-area: a13;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1914-input {
  grid-area: a14;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1914-label {
  grid-area: a14;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1915-input {
  grid-area: a15;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1915-label {
  grid-area: a15;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1916-input {
  grid-area: a16;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1916-label {
  grid-area: a16;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw1917-input {
  grid-area: a17;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw1917-label {
  grid-area: a17;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}

/* SIGHT WORDS - 2ND NINE WEEKS */

.grid-form2 {
  display: grid;
  grid-template-areas: 
  'b1 b2 b3 b4'
  'b5 b6 b7 b8'
  'b9 b10 b11 b12'
  'b13 b14 b15 b16'
  'b17 b18 b19 b20'
  'b21 . . .';
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}

.sw291-input {
  grid-area: b1;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /* vertical */
}
.sw291-label {
  grid-area: b1;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw292-input {
  grid-area: b2;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw292-label {
  grid-area: b2;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw293-input {
  grid-area: b3;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw293-label {
  grid-area: b3;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw294-input {
  grid-area: b4;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw294-label {
  grid-area: b4;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}.sw295-input {
  grid-area: b5;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw295-label {
  grid-area: b5;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw296-input {
  grid-area: b6;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw296-label {
  grid-area: b6;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw297-input {
  grid-area: b7;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw297-label {
  grid-area: b7;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw298-input {
  grid-area: b8;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw298-label {
  grid-area: b8;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw299-input {
  grid-area: b9;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw299-label {
  grid-area: b9;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2910-input {
  grid-area: b10;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2910-label {
  grid-area: b10;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2911-input {
  grid-area: b11;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2911-label {
  grid-area: b11;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2912-input {
  grid-area: b12;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2912-label {
  grid-area: b12;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2913-input {
  grid-area: b13;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2913-label {
  grid-area: b13;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2914-input {
  grid-area: b14;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2914-label {
  grid-area: b14;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2915-input {
  grid-area: b15;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2915-label {
  grid-area: b15;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2916-input {
  grid-area: b16;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2916-label {
  grid-area: b16;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2917-input {
  grid-area: b17;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2917-label {
  grid-area: b17;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2918-input {
  grid-area: b18;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2918-label {
  grid-area: b18;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2919-input {
  grid-area: b19;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2919-label {
  grid-area: b19;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2920-input {
  grid-area: b20;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2920-label {
  grid-area: b20;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw2921-input {
  grid-area: b21;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw2921-label {
  grid-area: b21;
 
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}

/* SIGHT WORDS - 3RD NINE WEEKS */

.grid-form3 {
  display: grid;
  grid-template-areas: 
  'c1 c2 c3 c4'
  'c5 c6 c7 c8'
  'c9 c10 c11 c12'
  'c13 c14 c15 c16'
  'c17 c18 c19 c20'
  'c21 c22 c23 c24';
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}
.sw391-input {
  grid-area: c1;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /* vertical */
}
.sw391-label {
  grid-area: c1;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw392-input {
  grid-area: c2;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw392-label {
  grid-area: c2;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw393-input {
  grid-area: c3;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw393-label {
  grid-area: c3;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw394-input {
  grid-area: c4;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw394-label {
  grid-area: c4;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw395-input {
  grid-area: c5;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw395-label {
  grid-area: c5;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw396-input {
  grid-area: c6;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw396-label {
  grid-area: c6;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw397-input {
  grid-area: c7;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw397-label {
  grid-area: c7;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw398-input {
  grid-area: c8;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw398-label {
  grid-area: c8;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw399-input {
  grid-area: c9;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw399-label {
  grid-area: c9;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3910-input {
  grid-area: c10;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3910-label {
  grid-area: c10;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3911-input {
  grid-area: c11;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3911-label {
  grid-area: c11;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3912-input {
  grid-area: c12;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3912-label {
  grid-area: c12;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3913-input {
  grid-area: c13;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3913-label {
  grid-area: c13;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3914-input {
  grid-area: c14;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3914-label {
  grid-area: c14;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3915-input {
  grid-area: c15;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3915-label {
  grid-area: c15;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3916-input {
  grid-area: c16;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3916-label {
  grid-area: c16;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3917-input {
  grid-area: c17;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3917-label {
  grid-area: c17;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3918-input {
  grid-area: c18;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3918-label {
  grid-area: c18;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3919-input {
  grid-area: c19;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3919-label {
  grid-area: c19;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3920-input {
  grid-area: c20;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3920-label {
  grid-area: c20;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3921-input {
  grid-area: c21;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3921-label {
  grid-area: c21;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3922-input {
  grid-area: c22;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3922-label {
  grid-area: c22;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3923-input {
  grid-area: c23;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3923-label {
  grid-area: c23;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw3924-input {
  grid-area: c24;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw3924-label {
  grid-area: c24;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}


/* SIGHT WORDS - 4TH NINE WEEKS */

.grid-form4 {
  display: grid;
  grid-template-areas: 
  'd1 d2 d3 d4'
  'd5 d6 d7 d8'
  'd9 d10 d11 d12'
  'd13 d14 d15 d16'
  'd17 d18 d19 d20'
  'd21 . . .';
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}
.sw491-input {
  grid-area: d1;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /* vertical */
}
.sw491-label {
  grid-area: d1;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw492-input {
  grid-area: d2;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw492-label {
  grid-area: d2;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw493-input {
  grid-area: d3;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw493-label {
  grid-area: d3;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw494-input {
  grid-area: d4;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw494-label {
  grid-area: d4;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw495-input {
  grid-area: d5;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw495-label {
  grid-area: d5;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw496-input {
  grid-area: d6;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw496-label {
  grid-area: d6;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw497-input {
  grid-area: d7;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw497-label {
  grid-area: d7;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw498-input {
  grid-area: d8;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw498-label {
  grid-area: d8;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw499-input {
  grid-area: d9;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw499-label {
  grid-area: d9;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4910-input {
  grid-area: d10;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4910-label {
  grid-area: d10;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4911-input {
  grid-area: d11;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4911-label {
  grid-area: d11;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4912-input {
  grid-area: d12;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4912-label {
  grid-area: d12;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4913-input {
  grid-area: d13;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4913-label {
  grid-area: d13;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4914-input {
  grid-area: d14;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4914-label {
  grid-area: d14;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4915-input {
  grid-area: d15;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4915-label {
  grid-area: d15;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4916-input {
  grid-area: d16;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4916-label {
  grid-area: d16;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4917-input {
  grid-area: d17;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4917-label {
  grid-area: d17;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4918-input {
  grid-area: d18;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4918-label {
  grid-area: d18;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4919-input {
  grid-area: d19;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4919-label {
  grid-area: d19;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4920-input {
  grid-area: d20;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4920-label {
  grid-area: d20;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}
.sw4921-input {
  grid-area: d21;
  justify-self: start; /* horizontal */
  padding: 5px;
  align-self: center; /*vertical */
}
.sw4921-label {
  grid-area: d21;
  
  padding: 5px 0 5px 25px;
  align-self: center; /*vertical */
}